@using Interdisciplinary.Models;
@model FridgeViewModel
@{
    ViewData["Title"] = "Fridge";
}
<h1>@ViewData["Title"]</h1>

<form action="" method="post" id="IngredientPicker">
    <label class="rubrik" for="ingridiens">Choose your ingredients</label>
    <br />
    <select class="drink-select" id="ingridiens" name="ingredient">
        <option class="option" disabled> Choose ingredients</option>
        <optgroup label="Alcohol">

            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                if (ingredient.CategoryId == 1)
                {
                    <option data-value='[{"name":"@ingredient.Name","id": "@ingredient.IngredientId", "category": "@ingredient.CategoryId"}]'>
                        @ingredient.Name
                    </option>
                }
            }
        </optgroup>
        <optgroup label="Garnish">
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                if (ingredient.CategoryId == 3)
                {
                    <option data-value='[{"name":"@ingredient.Name","id": "@ingredient.IngredientId", "category": "@ingredient.CategoryId"}]'>
                        @ingredient.Name
                    </option>
                }
            }
        </optgroup>
        <optgroup label="Softdrink">
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                if (ingredient.CategoryId == 2)
                {
                    <option data-value='[{"name":"@ingredient.Name","id": "@ingredient.IngredientId", "category": "@ingredient.CategoryId"}]'>
                        @ingredient.Name
                    </option>
                }
            }
        </optgroup>
    </select>
    <button class="button" type="submit">Add ingredient</button>
    <br />
</form>

<form asp-controller="Drinks" method="post" id="ChosenIngredients" asp-action="Index">
    <div class="chosen"></div>
    <button class="button" type="submit"> Find exsisting cocktails</button>
</form>

<form method="post" id="getRandom" asp-controller="Random" asp-action="Index">
    <button class="button randomDrinkSubmit" type="button"> Generate your own custom cocktail</button>
</form>
<script src="~/js/site.js" asp-append-version="true"></script>
