@model IEnumerable<Interdisciplinary.Models.Drink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
